<h1>Login</h1>

<form method='POST' action='/login'>
  {{ form.csrf_token }}
  {{ form.username.label }} {{ form.username(size=20) }}
  {{ form.password.label }} {{ form.password(size=20) }}
  {{ form.remember_me.label }} {{ form.remember_me(size=20) }}
<input type="submit" value="Login">
</form>

<p> <a href="/register"> new user? register here!</a></p>

<!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} -->