<h1> welcome! please register your account! </h1>

<form method="POST" action="/register">
  {{ form.csrf_token }}
  {{ form.username.label }} {{ form.username(size=20) }}
  {{ form.password.label }} {{ form.password(size=20) }}
  <input type="submit" value="Register">
</form>

<p> <a href="/login"> already register?? login in here ! </a></p>